
@page "/CreateUser"
@using Domain_A1.DTOs
@using ReditBeforeGlowUp.Services.Http
<h3>CreateUser</h3>

@code {
    
    
    private string username = "";
    private string resultMsg = "";
    private string color = "";
    
    private async Task Create()
    {
        resultMsg = "";

        try
        {
            //await IUserService.Create(new UserCreationDto(username));
            username = "";
            resultMsg = "User successfully created";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }
    
}