@page "/MustBeLogged"
@attribute [Authorize]
<h3>MustBeLogged</h3>

<h3>Must Be Logged In To View</h3>

<p>You can only access this page, if you're logged in. Given that you're seeing this, you're logged in</p>
<p>This will be the page where you can create posts</p>
@code {
    
}