@page "/ViewAllPosts"
@using Domain_A1.Models
@using ReditBeforeGlowUp.Services.Http.Implementations
@inject NavigationManager Navigation

@inject IPostInterface ipostService

@if (todos == null)
{
}
else if (!todos.Any())
{
    <p>No Posts to view</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Reddit Posts</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in todos)
        {
            <tr @onclick="() => ShowDetails(item.Title)">
                <td>@item.Title</td>
            </tr>
        }
        </tbody>
    </table>
}

@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    private IEnumerable<Post>? todos;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            todos = await ipostService.GetAllAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private void ShowDetails(string itemTitle)
    {
    // Navigate to the details page, e.g., using navigation manager
        Navigation.NavigateTo($"/Post/{itemTitle}");
    }
}